.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text {
    text-align: center;
    margin: 3rem;
}

.GoHome {
    position: absolute;
    bottom: 0px;
    margin: 5rem;
    text-align: center;
    width: 100%;
}

.ButtonHome {
    background-color: #5EADBF;
    border-radius: 12px;
    border: none;
    color: #f4f4f2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}