.Form {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.SearchBar {
    padding: 4px;
}

.SearchBar {
    width: 200px;
    height: 37px;
    padding: 9px 25px;
    font-size: 16px;
    color: #D7D9A9;
    outline: none;
    border: 2px solid #D7D9A9;
    border-radius: 30px;
    text-align: center;
}

.SearchBar::placeholder {
    color: #D7D9A9;
}

.submit {
    background: #D7D9A9;
    color: #F2EDE4;
    border: 0;
    font-size: 16px;
    padding: 9px 25px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.submit:hover {
    background-color: #d8db77;
}